/*Спецификации*/



.clearfix:after
{
	content: " ";
	display: table;
	width: 100%;
}

.tab_uslugi_toggle_mob
{
	display: block;
}

.slick-slider .slick-track, .slick-slider .slick-list
{
	width: 100%;
}

.reset-pl0
{
	padding-left: 0;
}
.wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
	padding: 0 10px;
}

.fdc
{
	flex-direction: column;
}

img
{
	max-width: 100%;
	height: auto;
}
a
{
	text-decoration: none;
	color: inherit;
}

body
{
	margin: 0;
	padding: 0;
	position: relative;
}

.btn
{
	border-radius: 5px;
	display: inline-block;
}
.btn-yellow
{
	border: 2px solid #FDF311;
	color: #fff;
	font-family: 'Arial', sans-serif;
	transition: all 0.3s;
}

.btn-yellow:hover
{
	border: 2px solid #fff;
	transition: all 0.3s;
}

.btn-green
{
	background-color: #00A78E;
	padding: 15px 20px;
	color: #fff;
	position: relative;
	border-radius: 5px;
	transition: all 0.3s;
}

.btn-green:hover .btn-green-border
{
	top: 7px;
	left: 7px;
	transition: all 0.3s;
	border: 2px solid #00A78E;
}

.btn-green-border
{
	display: block !important;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: 2px solid #FDF311;
	position: absolute;
	z-index: -1;
	top: -7px;
	left: -7px;
	background-color: transparent;
	transition: all 0.3s;
}

.df
{
	display: flex;
}

.aic
{
	align-items: center;
}

.jcsb
{
	justify-content: space-between;
}

.jcsa
{
	justify-content: space-around;
}

.aafs
{
	align-items: flex-start;
}

.jcc
{
	justify-content: center;
}

.aife
{
	align-items: flex-end;
}

.dn
{
	display: none;
}




ul
{
	padding-left: 0;
}
li
{
	list-style-type: none;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}


h2
{
	font-size: 38px;
	color: #000;
	line-height: 44px;
	font-weight: 500;
}
.img-fluid
{
	max-width: 100%;
	height: auto;
}

p
{
	margin: 0;
	padding: 0;
}

.lgreen__block_3
{
	color: #00A78E;
	position: relative;
}
.block_3_arrow_position
{
	position: absolute;
	top: -68px;
	right: -96%;
	transform: scale(0.7);
}

.grow
{
	flex-grow: 1;
}

.fade_anim{
    animation-name: fade_anim;
    animation-duration: 1.5s;
}

@keyframes fade_anim
{
    from{opacity: 0.1;}
    to{opacity: 1;}
}




// select

*,
*:before,
*:after{
  box-sizing: border-box;
}


.select {
    display: inline-block;
  	vertical-align: top; 
  	max-width: 450px;
    width: 100%;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.65);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.65);
	border-radius: 5px;
}



.select-wrap select {
	margin: 20px;
}

.select__gap {
	background: transparent;
	color: #467797;
    display: none;
	text-transform: uppercase;
	font-size: 15px;
	padding: 10px 15px;
	cursor: pointer;
	position: relative;
}

.on.select__gap,
.select__gap:hover {
  color: #467797;
} 

.select__list {
	background: transparent;
   
	margin: 0px 0;
}

.select__list.on {
	display: block;
}

.select__item span {
	display: block;
	padding: 10px 15px;
	cursor: pointer;
    color: #333;
}

.select__item.selected,
.select__item span:hover {
	color: #467797;
}

.select__gap:after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -7px;

	background: url('../../img/arrow_select_down.svg') no-repeat center center;

	-webkit-transition: all .27s ease-in-out;
	     -o-transition: all .27s ease-in-out;
	        transition: all .27s ease-in-out;

	-webkit-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	     -o-transform: rotate(0deg);
	        transform: rotate(0deg);
}

.on.select__gap:after {
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}


input#check:checked + .check_fake::before
{
	opacity: 1;
}
/*------------------------------------------------------------------------*/


// header

header
{
	height: 713px;
	font-family: 'Arial', sans-serif;
	padding-top: 30px;
	overflow: hidden;
	

	.header_topline__item
	{
		
		.header_logo
		{
			display: flex;
			position: relative;
			color: inherit;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 16px;
		}

		nav
		{
			
			ul
			{

				li
				{
					list-style-type: none;
					float: left;
					a
					{
						display: block;
						margin-right: 25px;
						font-size: 16px;
						color: #000;
						transition: all 0.3s;

						&:hover
						{
							opacity: 0.8;
							transition: all 0.3s;
						}
					}
				}
			}
		}

		.topline-btn
		{
			padding: 10px 20px;
			font-size: 16px;
		}

		.topline_contacts
		{
			color: #fff;
			font-size: 18px;

			a
			{
				margin-right: 10px;
			}

			p
			{
				margin: 10px 0;
			}
			
		}
	}

	.top_line__mob
	{
		display: none;

		.top_line__mob___item
		{
			// border: 1px solid red;

			.mobile_btn_topline
			{
				border: 2px solid #FDF311;
				display: inline-block;
				color: #000;
				font-family: 'Arial', sans-serif;
				transition: all 0.3s;
			}

			.mobile_toggle
			{
				font-size: 35px;
				color: #00A78E;
				cursor: pointer;
			}

			.mobile_btn_topline
			{
				padding: 9px 20px;
				border-radius: 5px;
				margin-left: 15%;

				&:hover
				{
					border: 2px solid #00A78E;
				}
			}

			.topline_contacts
			{
				p
				{
					margin-top: 0;
					color: #fff;
				}
				a
				{
					margin-right: 10px;
					&:last-child
					{
						margin-right: 0;
					}
				}
			}
		}
	}

	.top_line__desc
	{
		display: block;
	}

	.header_content
	{
		margin-top: 75px;
		h1
		{
			
			font-size: 42px;
			line-height: 54px;
			font-family: 'Arial', sans-serif;
			font-weight: 400;

			span
			{
				color: #00A78E;
			}
		}

		ul
		{
			margin-top: 30px;
			margin-bottom: 80px;

			li
			{
				font-size: 26px;
				line-height: 32px;
				margin-bottom: 15px;
			}
		}

		.header_content__item___img
		{
			.header_persone
			{
				position: relative;
				bottom: 30px;
			}
		}
		

	}

	
}

header.header_modile
{
	display: none;
	background: #00A78E;
	border-bottom: 2px solid #00BDA2;
	height: auto;
	padding-top: 15px;
	padding-bottom: 30px;
	border-bottom: 10px solid #FDF311;

	.mob_topline
	{
		position: relative;
		.mob_toggle
		{
			svg
			{
				cursor: pointer;
			}
		}

		.logo
		{
			margin-left: 13px;

			span
			{
				color: #fff;
				margin-left: 3px;
			}
		}

		.mob_contact
		{
			a
			{
				padding: 5px;
			}
		}

		&::before
		{
			content: '';
			width: 110%;
			height: 2px;
			background-color: #00BDA2;
			position: absolute;
			bottom: -10px;
			left: -10px;
		}
	}

	h1
	{
		margin-top: 33px;
		text-align: center;
		font-size: 42px;
		color: #fff;
	}

	.mob_header_list
	{
		display: flex;
		align-items: center;
		justify-content: center;
		ul
		{
			margin-top: 30px;
			color: #fff;
			

			li
			{
				font-size: 26px;
				line-height: 32px;
				margin-bottom: 15px;
			}
		}
	}

	.mob_header_but
	{
		text-align: center;
		.btn
		{
			display: inline-block;
			padding: 15px 20px;
			text-align: center;
			font-weight: bold;
			font-size: 19px;
		}
	}


}

.mobile_menu
{
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: #fff;
	top: 0;
	transform: translateY(-101%);
	transition: all 0.3s;
	

	.mobile_menu__content
	{
		position: relative;
		padding-top: 30px;
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 16px;

		.close_menu__mobile
		{
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
		}

		nav
		{
			ul
			{
				li
				{
					font-size: 30px;
					line-height: 36px;
					font-weight: 400;
					border-bottom: 1px solid #ccc;
					margin-bottom: 20px;

					&:last-child
					{
						margin-bottom: 0;
					}
				}
			}
		}

		.mobile_menu__soc
		{
			span
			{
				a
				{
					display: inline-block;
					padding: 5px;
				}
			}
		}
	}


}

// end header


// block_1
.block_1
{
	padding-top: 70px;
	font-family: 'Arial', sans-serif;

	.block_1__title
	{
		h2
		{
			margin-bottom: 30px;
		}

		h3
		{
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 20px;
		}
	}

	.block_1__content
	{
		position: relative;

		.block_1__content___item
		{
			margin-bottom: 40px;
			position: relative;

			.position_img_block_1_mod
			{
				display: none;
			}

			.block_1__content___item____title
			{
				h3
				{
					font-size: 24px;
					line-height: 30px;
					color: #00A78E;
					font-weight: 400;
					margin-bottom: 10px;
				}
			}
		}

		.position_img_block_1
		{
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -70.5px;
		}

		
	}
}


// block_2

.block_2
{
	font-family: 'Arial', sans-serif;
	padding-top: 70px;


	.block_2__subtitle
	{
		h3
		{
			font-size: 18px;
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	.block_2__list
	{
		.block_2__list___item
		{
			text-align: center;
			width: 25%;

			span
			{
				display: block;
				margin-top: 10px;
			}
		}
	}
}


// block_3

.block_3
{
	font-family: 'Arial', sans-serif;
	padding-top: 70px;

	h2
	{
		margin-bottom: 20px;
	}

	.block_3__list
	{
		.block_3__list___item
		{
			font-size: 18px;

			div	
			{
				margin-bottom: 10px;
				svg	
				{
					margin-right: 10px;
				}
				span
				{
					display: inline-block;
				}
			}

			
		}

		.block_3__list___item____img
		{
			position: relative;
			top: -60px;

			.block_3_arrow_absolute
			{
				position: absolute;
				bottom: -30px;
				right: 50%;
				margin-left: -115px;
			}

			.block_3_img_desc
			{
				display: block;
			}

			.block_3_img_plan
			{
				display: none;
			}

			.block_3_img_mob
			{
				display: none;
			}
		}
	}
}


// block_4

.block_4
{
	font-family: 'Arial', sans-serif;
	padding-top: 50px;
	.block_4__title
	{
		margin-bottom: 20px;
	}

	.block_4__subtitle
	{
		h3
		{
			width: 50%;
			margin-bottom: 20px;
		}
	}

	.slider_keys
	{
		background: #00A78E;
		padding: 30px 80px 75px 80px;
		
		position: relative;

		.slick-dots
		{
			position: absolute;
			bottom: 20px;
			left: 0;
		}

		.slick-prev
		{
			left: 42%;
    		top: 92% !important;
			z-index: 999999;

		}

		.slick-next
		{
			right: 40.5%;
    		top: 92% !important;
			z-index: 999999;
		}

		

		.slider_item
		{
			background: linear-gradient(107.94deg, rgba(249, 249, 249, 0.25) 0%, rgba(249, 249, 249, 0) 100%);
			border-radius: 5px;
			padding: 30px 20px 30px 20px;
			width: 97% !important;
		}

		.slider_item__title___block_4
		{
			h3
			{
				color: #fff;
				margin-bottom: 15px;
			}
		}

		.slider_item__content___block_4
		{
			margin-bottom: 20px;

			.slider_item__content___img___info
			{
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				height: 100% !important;
				color: #fff;
			}

		}

		.slider_item__btns
		{
			display: flex;
			justify-content: space-between;
			align-items: center;

			.slider_btn
			{
				padding: 10px 15px;
				border-radius: 5px;
				display: inline-block;
			}
	
	
	
			.slider_btn__yellow
			{
				background-color: #FDF311;
				font-size: 18px;
				text-align: center;
				transition: all 0.3s;

				&:hover
				{
					transition: all 0.3s;
					background-color: #fff;
				}
			}
	
			.slider_btn__transparent
			{
				border: 2px solid #FDF311;
				font-size: 18px;
				text-align: center;
				color: #fff;

				&:hover
				{
					transition: all 0.3s;
					border: 2px solid #fff;
				}
			}
		}


	}
}



// block_5
.block_5	
{
	font-family: 'Arial', sans-serif;
	padding-top: 50px;
	.block_5__title
	{
		margin-bottom: 20px;
	}

	.block_5__subtitle
	{
		h3
		{
			width: 45%;
			margin-bottom: 20px;
		}
	}

	.block_5__tabmenu
	{
		ul.block_5__tabmenu___list
		{
			display: flex;
			justify-content: space-between;
			margin-bottom: 50px;
			
			li
			{
				font-size: 22px;
				line-height: 30px;
				cursor: pointer;

			}

			li.tab__active
			{
				position: relative;


				&::before
				{
					content: '';
					width: 100%;
					height: 5px;
					border-radius: 5px;
					background: #01A48C;
					position: absolute;
					bottom: -5px;
					left: 0;
				}
			}
		}

		select#tabs_menu
		{
			// display: none;
			font-family: 'Arial', sans-serif;
			padding: 10px 50px 10px 15px;
			border-radius: 5px;
			outline: none;
			font-size: 16px;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.4);
			-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.4);
			box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.4);
			border: 1px solid #fff;

			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			appearance: none;
			background: url('../../img/arrow_select_down.svg') no-repeat 97% center;
			outline: 0;
			cursor: pointer;

			
		}

	}

	.block_5__tabcontent
	{
		.block_5__tabcontent___img
		{
			text-align: center;
		}
		.block_5__tab___item____title
		{
			img
			{
				margin-bottom: 20px;
			}

			h3
			{
				font-size: 20px;
				line-height: 26px;
				color: #01A68D;
				margin-bottom: 20px;
			}
		}

		.block_5__tab___item____content
		{
			font-size: 18px;
		}

		.tab_price__img
		{
			text-align: center;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			height: 100%;
		}

		table
		{
			width: 100%;
			

			.thead
			{		
				margin-bottom: 20px;
				display: block;
			}

			th
			{
				font-size: 20px;
				line-height: 26px;
				color: #01A58D;
			}
			tr
			{
				width: 100%;
				display: flex;
				justify-content: space-between;
			}

			td.td_bg
			{
				
				margin-bottom: 20px;
				span
				{
					display: inline-block;
				}
				div
				{
					flex-grow: 1;
					background: url('../../img/line_bg.png') repeat-x bottom center;
				}
			}


		}

		.block_5__tabcontent___text
		{
			h4
			{
				font-size: 18px;
				line-height: 24px;
				font-weight: 400;
				margin-bottom: 20px;
			}


			.quests
			{
				.quests_block
				{
					position: relative;
					margin-bottom: 30px;

					span
				{
					position: absolute;
					right: 0;
					top: 0;
					width: 20px;
					height: 20px;
					cursor: pointer;
				}

					.quest_title
					{
						
						margin-bottom: 20px;
						font-size: 20px;
						font-weight: 700;
						

						.icon_toggle
						{
							cursor: pointer;
							display: block;
							padding: 10px;
						}
					}
				}
			}
		}

		.uslugi_item
		{
			margin-bottom: 50px;
			h4
			{
				margin: 20px 0 15px 0;
				font-size: 20px;
				line-height: 26px;
			}

			div
			{
				font-size: 18px;
				line-height: 24px;
			}
		}

		.block_5__more
		{
			display: none;
			span
			{
				color: #01A48C;
				font-size: 16px;
				font-weight: 700;
				
			}

			.more_2
			{
				color: #01A48C;
				font-size: 16px;
				font-weight: 700;
			}
		}
	}
}

.block_6
{
	font-family: 'Arial', sans-serif;
	padding-top: 100px;

	.block_6_title
	{
		h2
		{
			opacity: 1;
			margin-bottom: 30px;
			margin-bottom: 20px;
		}
	}

	.block_6_subtitle
	{
		h3
		{
			width: 50%;
			margin-bottom: 20px;
		}
	}


	.block_6__content
	{
		height: auto;
		background-color: #01A58D;
		font-family: 'Arial', sans-serif;

		padding: 30px 0;

		.block_6__content___item
		{
			height: auto;
			border: 2px solid rgba(255, 255, 255, 0.2);
			border-radius: 5px;
			background: linear-gradient(107.94deg,rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 100%);
			padding: 30px;


			.block_6__content___item____list_1
			{
				margin-bottom: 20px;
				img
				{
					margin-right: 10px;
				}
			}

			.block_6__content___item____list_2
			{
				margin-bottom: 15px;

				h3
				{
					font-size: 28px;
					font-weight: 700;
					line-height: 34px;
					color: #fff;
					text-align: center;
					font-family: 'Arial', sans-serif;
				}
			}

			.block_6__content___item____list_3
			{
				margin-bottom: 20px;
				li
				{
					font-size: 19px;
					font-weight: 400;
					line-height: 24px;
					color: #fff;
					margin-bottom: 10px;
					svg
					{
						margin-right: 10px;
					}
				}
				
			}

			.block_6__content___item____list_4
			{
				margin-bottom: 30px;
				h4
				{
					font-size: 26px;
					line-height: 22px;
					text-align: center;
					color: #fff;
				}
			}

			.block_6__content___item____list_5
			{
				text-align: center;
				a
				{
					display: inline-block;
					padding: 13px 25px;
					border: 2px solid rgba(253, 243, 17, 1);
					border-radius: 5px;
					color: #fff;
					font-size: 18px;
					line-height: 18px;
					transition: all 0.3s;

					&:hover
					{
						background-color: rgba(253, 243, 17, 1);
						color: #000;
						transition: all 0.3s;
					}
				}
			}
		}
	}
	
}


// block_7
.block_7	
{
	font-family: 'Arial', sans-serif;
	padding: 86px 0px;

	.block_7__title
	{
		margin-bottom: 30px;
	}

	.block_7__subtitle
	{
		width: 50%;
		margin-bottom: 20px;
	}

	.block_7__list
	{
		margin-bottom: 30px;
		position: relative;
		.block_7__list___item
		{
			background-color: #01A089;
			height: auto;
			border-radius: 5px;
			padding:  30px 20px;
			width: 97% !important;

			.block_7__list___item___title
			{
				margin-bottom: 20px;
				span
				{
					width: 35%;
					text-align: right;
				}

				h3
				{
					width: 65%;
					font-size: 20px;
					font-weight: 700;
					color: #fff;
					line-height: 26px;
				}
			}

			.block_7__list___item____content
			{
				font-size: 18px;
				line-height: 24px;
				color: #fff;
				font-weight: 400;
				margin-bottom: 15px;
			}

			.block_7__list___item____meta
			{
				margin-bottom: 20px;
				span
				{
					font-size: 14px;
					color: rgba(185, 185, 185, 1);
				}
			}

			.block_7__list___item____btn
			{
				text-align: center;
				a
				{
					display: flex;
					align-items: center;
					justify-content: center;
					font-weight: 700;
					font-size: 18px;
					color: rgba(253, 243, 17, 1);

					svg
					{
						margin-left: 7px;
					}
				}
			}
		}

		.slider_reviews__prev
		{
			position: absolute;
			left: 42%;
			top: 107% !important;
			z-index: 999999;
			cursor: pointer;
		}

		.slider_reviews__next
		{
			position: absolute;
			right: 40.5%;
			z-index: 999999;
			top: 107% !important;
			cursor: pointer;
		}


	}

	.slick-dots li button:before {
		opacity: .75;
		color: rgba(0, 0, 0, 1);
	}

	.slick-dots li.slick-active button:before {
		opacity: .75;
		color: #01A089;;
	}


	.slick-dots {
		position: absolute;
		bottom: -40px;
	}
}

// block_8
.block_8_desc
{
	font-family: 'Arial', sans-serif;
	.block_8__title
	{
		margin-bottom: 30px;
	}


	.block_8__content___item
	{
		
		h3
		{
			font-size: 18px;
			margin-bottom: 20px;
			span
			{
				color: #01A089 !important;
			}

		}


		.block_8__content___item___form
		{
			display: block;
			.block_8__content___item___form____item
			{
				margin-bottom: 15px;
				

				input:not([type="checkbox"]), textarea
				{
					padding: 15px 13px;
					width: 100%;
					border-radius: 5px;
					box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
					border: none;
					outline: none;
					color: rgba(142, 142, 142, 1);
					line-height: 20px;
					font-size: 16px;
					box-sizing: border-box;
					border: 2px solid transparent;
				}

				textarea
				{
					height: 170px;
				}

				input:focus
				{
					border: 2px solid rgba(1, 160, 137, 1);
				}

				textarea:focus
				{
					border: 2px solid rgba(1, 160, 137, 1);
				}


				.acceptance
				{
					label
					{
						display: flex;

						input
						{
							display: none;
							
						}
						div
						{
							margin-left: 8px;
						}

						a
						{
							color: #01A089;
						}

						span
						{
							width: 20px;
							height: 20px;
							position: relative;
							background-color: #01A089;
							border-radius: 5px;
							cursor: pointer;

							&::before
							{
								position: absolute;
								content: '✓';
								left: 4px;
								top: -2px;
								font-weight: 600;
								color: #fff;
								opacity: 0;
							}
						}
					}
				}

				button
				{
					background-color: #00A78E;
					padding: 13px 50px;
					color: #fff;
					position: relative;
					border-radius: 5px;
					transition: all 0.3s;
					outline: none;
					border: none;
					font-size: 18px;
					cursor: pointer;
					margin-top: 15px;
				}

				
			}

			.form_btn
			{
				margin-bottom: 0 !important;
			}

			

		}
		
	}

	.form_scale
	{
		position: relative;
		bottom: -30px;
		transform: scale(1.2);
	}


}


.block_8_plan
{
	display: none;

	.block_8__title
	{
		h2
		{
			font-size: 24px;
		}

		h3
		{
			font-size: 16px;
			line-height: 22px;
		}

		span
		{
			color: rgba(1, 160, 137, 1);
		}
	}



	.block_8__content___item___form
	{
		display: block;
		.block_8__content___item___form____item
		{
			margin-bottom: 15px;
			

			input:not([type="checkbox"]), textarea
			{
				padding: 10px 15px;
				width: 100%;
				border-radius: 5px;
				box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
				border: none;
				outline: none;
				color: rgba(142, 142, 142, 1);
				line-height: 20px;
				font-size: 14px;
				box-sizing: border-box;
				border: 2px solid transparent;
			}

			textarea
			{
				height: 170px;
			}

			input:focus
			{
				border: 2px solid rgba(1, 160, 137, 1);
			}

			textarea:focus
			{
				border: 2px solid rgba(1, 160, 137, 1);
			}


			.acceptance
			{
				label
				{
					font-size: 13px;
					display: flex;

					div
					{
						margin-left: 8px;
					}

					a
					{
						color: #01A089;
					}

					span
						{
							width: 20px;
							height: 20px;
							position: relative;
							background-color: #01A089;
							border-radius: 5px;
							cursor: pointer;

							&::before
							{
								position: absolute;
								content: '✓';
								left: 4px;
								top: -2px;
								font-weight: 600;
								color: #fff;
								opacity: 0;
							}
						}
				}
			}

			button
			{
				background-color: #00A78E;
				padding: 8px 30px !important;
				color: #fff;
				position: relative;
				border-radius: 5px;
				transition: all 0.3s;
				outline: none;
				border: none;
				font-size: 18px;
				cursor: pointer;
				margin-top: 15px;
			}

			
		}

		.form_btn
		{
			margin-bottom: 0 !important;
		}

		

	}
}








