/*Спецификации*/



.clearfix:after
{
	content: " ";
	display: table;
	width: 100%;
}

.wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

img
{
	max-width: 100%;
	height: auto;
}
a
{
	text-decoration: none;
	color: inherit;
}

body
{
	margin: 0;
	padding: 0;
}

.btn
{
	border-radius: 5px;
	display: inline-block;
}
.btn-yellow
{
	border: 2px solid #FDF311;
	color: #fff;
	font-family: 'Arial', sans-serif;
}

.df
{
	display: flex;
}

.aic
{
	align-items: center;
}

.jcsb
{
	justify-content: space-between;
}

.jcsa
{
	justify-content: space-around;
}



ul
{
	padding-left: 0;
}
/*------------------------------------------------------------------------*/


// header

header
{
	min-height: 570px;
	font-family: 'Arial', sans-serif;
	padding-top: 30px;

	.header_topline__item
	{
		
		.header_logo
		{
			display: flex;
			position: relative;
			color: inherit;
			font-family: 'Open Sans', sans-serif;
			font-weight: 400;
		}

		nav
		{
			
			ul
			{

				li
				{
					list-style-type: none;
					float: left;
					a
					{
						display: block;
						margin-right: 25px;
						font-size: 16px;
						color: #000;
					}
				}
			}
		}

		.topline-btn
		{
			padding: 10px 20px;
			font-size: 16px;
		}

		.topline_contacts
		{
			color: #fff;
			font-size: 18px;

			a
			{
				margin-right: 10px;
			}

			p
			{
				margin: 10px 0;
			}
			
		}
	}

	
}










